<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width;initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="/register" method="post">
        <table border="1px" cellpadding="3px" cellspacing="3px">
            <tr>
                <td>Username</td>
                <td>
                    <input type="text" name="name" placeholder="Username" />
                </td>
            </tr>
            <tr>
                <td>Age</td>
                <td>
                    <input type="text" name="age" placeholder="Age" />
                </td>
            </tr>
            <tr>
                <td>Date</td>
                <td>
                    <input type="date" placeholder="Date" />
                </td>
            </tr>
            <tr>
                <td>WorKTime</td>
                <td>
                    <input type="number" placeholder="WorkTime" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="SignIn" />
                </td>
                <td>
                    <input type="reset" value="重置" />
                </td>
            </tr>
        </table>
    </form>
</body>
</html>